---
layout: default
bodyClass: "page-map"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="team team-single">
        <h1 class="title">{{page.title}}</h1>
        <div class="content">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1L16Hi4cX_4TwNYv0ZbJPZ-mIwBmKEMo&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>
            {{content}}
        </div>
      </div>
    </div>
  </div>
</div>
